.menu{
  position:sticky; 
  z-index:999;
  background:transparent;
  top:0;
}
.top {top:0}
.menuContainer {
  padding:10px 100px;
  border-bottom: 0px solid #2c2827;
}
.logo {
  font-family: Catchy Mager;
  font-size: 40px;
  border:2px solid white;
  padding:0 5px;
  height:40px;
  margin-right:50px;
}


.menuItems{ 
  list-style-type: none;
  font-family: Montserrat; 
}
.menuItems a {
  text-decoration:none;
  margin:0 20px;
  color:var(--tx-color);
  font-family:Montserrat;
  font-size:15px;
}

.menuseparator {
  font-family: Catchy Mager;
  font-size:40px;
}
.bottomContainer {
  display:flex;
  grid-gap:50px;
  justify-content:center;
  padding-bottom:10px;
  font-size:14px;
  font-family:Montserrat;
  font-weight:300;
}
.bottomContainer a {
  text-decoration:none;
  color:var(--tx-color);
}
.bottomContainer a:hover {
  color:#ff0000;
}
.menuItem {
}
.right {justify-content:right}
.left {justify-content:left}
.borderBottom {border-bottom:1px solid #ffffff20 }
.menuButton {
  font-family:Montserrat;
  font-size:15px;
  border:1px solid #f00;
  border-radius: 5px;
  background: transparent;
  color:#fff;
  padding:5px 10px;
}
.menuButton:hover {
  background: #f00;
  cursor:pointer;
}



@media screen and (max-width:1000px) {
  .menu, #mtopmost{
    position:fixed; 
    z-index:999;
    background:transparent;
    top:0;
    padding:0px 40px 0 0px;
  }
  .menuContainer {
    padding:0 10px;
    width:95vw;
  }
  .menuItem {
    list-style-type: none;
  }
  .logo {
    font-size: 30px;
    height:30px;
    display:block;
    padding:0 5px;
    margin-right: 0;
    width:fit-content;
  }
  .mtoggle {
    background-color: transparent;
    color:#fff;
    font-size: 40px;
  }
  mtoggle:hover, .mtoggle:active {
    color:#f00;
  }
  .mmenu {
    font-family: Montserrat;
    font-weight: 300;
    width:100%;
    background-color: #292929;
    padding:30px 0 40px 0;
    position:absolute;
    translate: 100%;
  }
  .mmenu.open {
    translate:0;
    transition: 0.2s ease-in-out;
    position:relative;
  }

  .text {font-size:30px; font-weight:500;}

}